.projectdescription{
    background: #741dad ;
   
    padding: 3rem;
    padding-top: 5rem;
   
}



.sectionheading__subtext{
    font-size: 30px;
}

.projectdescription__text{
    padding-top: 2rem;
}

#titletext-projectdescription{
    font-size: 120px;
    text-align: center;
}
#subtext-projectdescription{
    font-size: 20px;
    text-align: center;
}
.ourproject{
    
    font-size: 140px;
    color: transparent;
    background: url("../../assets/imgs/ourprojectbackground.png");
    background-size: 20%;
    
    -webkit-background-clip: text;
    background-position: 500 0;
    animation: back 110s linear infinite;


}
@keyframes back{
    100%{
        background-position: 1650px 0;
    }
}