.projectdescription{
    background: #80ED99 ;
   
    padding: 3rem;
    padding-top: 5rem;
   
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.projectdescription__text{
    padding-top: 2rem;
}