.projectdescription{
    background: #80ED99 ;
    border-radius: 1rem;
    padding: 3rem;
    margin: 2rem;
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.projectdescription__text{
    padding-top: 2rem;
}