.tools{
    background: #38A3A5 ;
    
    padding: 3rem;
    padding-top: 5rem;
    
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.tools__text{
    padding-top: 2rem;
}

#titletext-tools{
    font-size: 100px;
    text-align: right;
}
#subtext-tools{
    font-size: 20px;
    text-align: right;
}
.group_activity_analysis{
    margin-top:3%;
    border-radius: 15px;
    padding: 2%;
    background-color: #53a8a9;
}

.toolitem{
    display: flex;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: aliceblue;
    
}
.toolitem:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 20%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 1s cubic-bezier(0.075,0.82,0.165,1);
}
.toolitem:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 20%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 1s cubic-bezier(0.075,0.82,0.165,1);
}
.toolitem:hover:before{
    right: 0;
}
.toolitem:hover:after{
    left: 0;
}