.tools{
    background: #38A3A5 ;
    
    padding: 3rem;
    padding-top: 5rem;
    
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.tools__text{
    padding-top: 2rem;
}

#titletext-tools{
    font-size: 90px;
    text-align: right;
}
#subtext-tools{
    font-size: 20px;
    text-align: right;
}