.teamprofile{
    background: #22577A ;
    
    padding: 3rem;
    padding-top: 5rem;
   
}

.sectionheading__text{
    font-size: 120px;
}

.teamheading__text{
    font-size:80px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.teamprofiles__text{
    padding-top: 2rem;
}

#titletext-teamprofiles{
    font-size: 90px;
    text-align: right;
}
#subtext-teamprofiles{
    font-size: 20px;
    text-align: right;
}

.body_div{
    margin-left: 5%;
    background-color:#4381ab ;
    border-radius: 15px;
    padding: 3%;
}
.teamitem{
    display: flex;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: aliceblue;
    margin-left: 5%;
    
    
}
.teamitem:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 20%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 3s cubic-bezier(0.075,0.82,0.165,1);
}
.teamitem:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 20%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 3s cubic-bezier(0.075,0.82,0.165,1);
}
.teamitem:hover:before{
    right: 0;
}
.teamitem:hover:after{
    left: 0;
}