.teamprofile{
    background: #22577A ;
    
    padding: 3rem;
    padding-top: 5rem;
   
}

.sectionheading__text{
    font-size: 120px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.teamprofiles__text{
    padding-top: 2rem;
}

#titletext-teamprofiles{
    font-size: 90px;
    text-align: right;
}
#subtext-teamprofiles{
    font-size: 20px;
    text-align: right;
}