.teamprofile{
    background: #22577A ;
    
    padding: 3rem;
    padding-top: 5rem;
   
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.teamprofiles__text{
    padding-top: 2rem;
}