.teamprofile{
    background: #22577A ;
    border-radius: 1rem;
    padding: 3rem;
    margin: 2rem;
}

.sectionheading__text{
    font-size: 60px;
}

.sectionheading__subtext{
    font-size: 30px;
}

.teamprofiles__text{
    padding-top: 2rem;
}